In [ ]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
indexs = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
columns = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns,  index=indexs)
print('df.loc["陳聰明", :] ->')
print(df.loc["陳聰明", :])
#print(df.loc["陳聰明"])
print()
print('df.loc["陳聰明"]["數學"] ->')
print(df.loc["陳聰明"]["數學"])
print()
print('df.loc[("陳聰明", "熊小娟") ->')
print(df.loc[("陳聰明", "熊小娟"), :])
print()
print('df.loc[:, "數學"] ->')
print(df.loc[:, "數學"])
print()
print('df.loc[("陳聰明", "熊小娟"), ("數學", "自然")] ->')
print(df.loc[("陳聰明", "熊小娟"), ("數學", "自然")])
print()
print('df.loc["陳聰明":"熊小娟", "數學":"社會"] ->')
print(df.loc["陳聰明":"熊小娟", "數學":"社會"])
print()
print('df.loc[:黃美麗, "數學":"社會"] ->')
print(df.loc[:"黃美麗", "數學":"社會"])
print()
print('df.loc["陳聰明":, "數學":"社會"] ->')
print(df.loc["陳聰明":, "數學":"社會"])

In [1]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
indexs = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
columns = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns,  index=indexs)

In [2]:
print(df.loc[("陳聰明", "熊小娟"), :])

     國文  數學  英文  自然  社會
陳聰明  90  72  76  93  56
熊小娟  79  53  47  94  80

In [3]:
print(df.loc[["陳聰明", "熊小娟"], :])

     國文  數學  英文  自然  社會
陳聰明  90  72  76  93  56
熊小娟  79  53  47  94  80

In [5]:
print(df.loc[["陳聰明", "熊小娟"]][:])

     國文  數學  英文  自然  社會
陳聰明  90  72  76  93  56
熊小娟  79  53  47  94  80

In [11]:
#print(df.loc[("陳聰明", "熊小娟")][:])  #錯誤

In [13]:
print(df.loc[["陳聰明", "熊小娟"]][["數學", "自然"]])

     數學  自然
陳聰明  72  93
熊小娟  53  94

In [16]:
df.loc["陳聰明":"熊小娟"]["數學":"社會"]

KeyError: '數學'

In [15]:
df.loc["陳聰明":"熊小娟", "數學":"社會"]

     數學  英文  自然  社會
陳聰明  72  76  93  56
黃美麗  85  91  89  77
熊小娟  53  47  94  80

In [17]:
df.loc["陳聰明","數學"]

72

In [18]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
indexs = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
columns = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns,  index=indexs)
print('df.iloc[1, :] ->')
print(df.iloc[1, :])
print()
print('df.iloc[1][1] ->')
print(df.iloc[1][1])

df.iloc[1, :] ->
國文    90
數學    72
英文    76
自然    93
社會    56
Name: 陳聰明, dtype: int64

df.iloc[1][1] ->
72

In [19]:
df.iloc[1,1]

72

In [20]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
indexs = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
columns = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns,  index=indexs)
print('陳聰明的數學科成績 ->')
print(df.ix["陳聰明"]["數學"])
print(df.ix["陳聰明"][1])
print(df.ix[1]["數學"])
print(df.ix[1][1])

陳聰明的數學科成績 ->
72
72
72
72

C:\Users\User\Anaconda3\envs\tensorflow-1.8.0\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys
C:\Users\User\Anaconda3\envs\tensorflow-1.8.0\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

C:\Users\User\Anaconda3\envs\tensorflow-1.8.0\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':
C:\Users\User\Anaconda3\envs\tensorflow-1.8.0\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.

In [22]:
df.ix["陳聰明","數學"]

C:\Users\User\Anaconda3\envs\tensorflow-1.8.0\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

72

In [23]:
df.ix["陳聰明",1]

C:\Users\User\Anaconda3\envs\tensorflow-1.8.0\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

72

In [24]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
indexs = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
columns = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns,  index=indexs)
print("df.values：")
print(df.values)
print("陳聰明的成績(df.values[1])：")
print(df.values[1])
print("陳聰明的英文成績(df.values[1][2])：")
print(df.values[1][2])

df.values：
[[65 92 78 83 70]
 [90 72 76 93 56]
 [81 85 91 89 77]
 [79 53 47 94 80]]
陳聰明的成績(df.values[1])：
[90 72 76 93 56]
陳聰明的英文成績(df.values[1][2])：
76

In [25]:
df.values[1,2]

76

In [26]:
import numpy as np

In [33]:
ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))

In [34]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])

In [35]:
df

                   A         B         C         D
2000-01-01 -1.319913 -0.181463 -0.164512  0.427590
2000-01-02  0.820976 -0.832119 -0.843632 -0.787096
2000-01-03  0.605771  1.308213  0.107466  1.820109
2000-01-04 -0.503030 -0.523245 -0.187328  1.652270
2000-01-05 -0.797181  0.618884 -0.762759  0.493421
2000-01-06 -0.038664  0.003158  1.073082  2.240714
2000-01-07 -0.569057  0.036610 -0.799068  0.869045
2000-01-08  0.008359 -0.028834 -1.641348  0.637495
2000-01-09  0.871244 -1.362547  0.168886 -1.492377
2000-01-10 -0.550978 -0.741435  1.137110 -1.483944
2000-01-11 -2.421102  0.373037  2.338294 -2.276604
2000-01-12 -0.062086 -0.301885 -0.579588 -0.985586
2000-01-13  2.144915 -0.548423  1.137737  0.514608
2000-01-14 -0.353216 -0.791251  1.141925  0.501104
2000-01-15  0.088510 -0.874838  1.645506  0.818336
2000-01-16 -0.796438  0.389309 -1.002930 -1.032019
2000-01-17 -0.327577  1.913972  1.658454  0.963702
2000-01-18 -0.316769  1.068274  0.714335 -1.041548
2000-01-19  0.053353  0.873298 -1.134511  0.959161
2000-01-20  0.452305  0.822525  0.089240 -2.339266
2000-01-21 -0.348158 -1.824307  0.513592 -0.529464
2000-01-22 -1.231523 -0.701070  1.049435 -1.254551
2000-01-23 -1.364207 -0.439924  0.759738  1.998740
2000-01-24  0.406700 -1.924706 -0.155736  1.351936
2000-01-25  0.759178  0.689825  0.811289  1.087627
2000-01-26  0.659803  1.375065 -1.215701  0.589912
2000-01-27 -0.340049  0.008372  1.765912 -0.512405
2000-01-28  1.330968  0.220390 -1.138337 -0.423660
2000-01-29  0.275606  1.963292 -0.450087  0.879317
2000-01-30  0.312421 -1.087005  0.205108 -1.141757
...              ...       ...       ...       ...
2002-08-28 -1.316104  1.284384  0.833071  1.025031
2002-08-29 -0.752877  0.339746 -0.150558 -0.147604
2002-08-30 -0.853053 -0.074278 -0.702859  0.208111
2002-08-31  0.334350  2.307857  0.144578  2.521771
2002-09-01 -0.036131  0.885204  1.226953 -0.277553
2002-09-02  1.309797 -1.038108  0.008694  0.451356
2002-09-03  0.120070 -0.255488  1.785406  0.726378
2002-09-04  0.495896 -0.722439  0.767393  0.206940
2002-09-05 -0.423449  0.539824  1.958378  1.459404
2002-09-06  0.502779 -1.966433  0.458320 -0.395838
2002-09-07  0.345468 -0.457667  1.140136 -0.121707
2002-09-08  0.000766  0.216586 -1.252317  0.813316
2002-09-09 -1.149133  1.280659 -0.963370  0.093264
2002-09-10 -1.337492  0.581949 -0.250896 -1.052460
2002-09-11 -0.135920 -0.729366  0.490835  2.100792
2002-09-12 -0.479860 -1.948473  0.797584  1.090202
2002-09-13  1.068711 -0.816289  0.640787  0.109885
2002-09-14  1.882895 -0.470473  0.103435  0.363104
2002-09-15  0.884148  1.483945  0.365455  1.125860
2002-09-16  0.436952  0.088953  0.034132  1.096189
2002-09-17  0.179752 -0.054337  0.656041 -0.666047
2002-09-18 -0.809657 -0.236813  0.918700 -1.483040
2002-09-19 -0.147502  2.670028 -0.348953 -1.430068
2002-09-20 -1.234009  1.195867 -0.794561  0.839812
2002-09-21 -0.514240  1.839508  0.048524  0.186115
2002-09-22  1.181363  0.552691  0.675009  0.504880
2002-09-23 -0.621775 -0.774334  0.728516 -0.821878
2002-09-24  0.278443 -2.139590 -0.378612  2.178327
2002-09-25 -0.365387  0.354643 -1.490182  1.068221
2002-09-26  1.076761 -0.843432 -1.279882  1.556597

[1000 rows x 4 columns]

In [38]:
df.to_csv('foo.csv')

In [39]:
pd.read_csv('foo.csv')

     Unnamed: 0         A         B         C         D
0    2000-01-01 -1.319913 -0.181463 -0.164512  0.427590
1    2000-01-02  0.820976 -0.832119 -0.843632 -0.787096
2    2000-01-03  0.605771  1.308213  0.107466  1.820109
3    2000-01-04 -0.503030 -0.523245 -0.187328  1.652270
4    2000-01-05 -0.797181  0.618884 -0.762759  0.493421
5    2000-01-06 -0.038664  0.003158  1.073082  2.240714
6    2000-01-07 -0.569057  0.036610 -0.799068  0.869045
7    2000-01-08  0.008359 -0.028834 -1.641348  0.637495
8    2000-01-09  0.871244 -1.362547  0.168886 -1.492377
9    2000-01-10 -0.550978 -0.741435  1.137110 -1.483944
10   2000-01-11 -2.421102  0.373037  2.338294 -2.276604
11   2000-01-12 -0.062086 -0.301885 -0.579588 -0.985586
12   2000-01-13  2.144915 -0.548423  1.137737  0.514608
13   2000-01-14 -0.353216 -0.791251  1.141925  0.501104
14   2000-01-15  0.088510 -0.874838  1.645506  0.818336
15   2000-01-16 -0.796438  0.389309 -1.002930 -1.032019
16   2000-01-17 -0.327577  1.913972  1.658454  0.963702
17   2000-01-18 -0.316769  1.068274  0.714335 -1.041548
18   2000-01-19  0.053353  0.873298 -1.134511  0.959161
19   2000-01-20  0.452305  0.822525  0.089240 -2.339266
20   2000-01-21 -0.348158 -1.824307  0.513592 -0.529464
21   2000-01-22 -1.231523 -0.701070  1.049435 -1.254551
22   2000-01-23 -1.364207 -0.439924  0.759738  1.998740
23   2000-01-24  0.406700 -1.924706 -0.155736  1.351936
24   2000-01-25  0.759178  0.689825  0.811289  1.087627
25   2000-01-26  0.659803  1.375065 -1.215701  0.589912
26   2000-01-27 -0.340049  0.008372  1.765912 -0.512405
27   2000-01-28  1.330968  0.220390 -1.138337 -0.423660
28   2000-01-29  0.275606  1.963292 -0.450087  0.879317
29   2000-01-30  0.312421 -1.087005  0.205108 -1.141757
..          ...       ...       ...       ...       ...
970  2002-08-28 -1.316104  1.284384  0.833071  1.025031
971  2002-08-29 -0.752877  0.339746 -0.150558 -0.147604
972  2002-08-30 -0.853053 -0.074278 -0.702859  0.208111
973  2002-08-31  0.334350  2.307857  0.144578  2.521771
974  2002-09-01 -0.036131  0.885204  1.226953 -0.277553
975  2002-09-02  1.309797 -1.038108  0.008694  0.451356
976  2002-09-03  0.120070 -0.255488  1.785406  0.726378
977  2002-09-04  0.495896 -0.722439  0.767393  0.206940
978  2002-09-05 -0.423449  0.539824  1.958378  1.459404
979  2002-09-06  0.502779 -1.966433  0.458320 -0.395838
980  2002-09-07  0.345468 -0.457667  1.140136 -0.121707
981  2002-09-08  0.000766  0.216586 -1.252317  0.813316
982  2002-09-09 -1.149133  1.280659 -0.963370  0.093264
983  2002-09-10 -1.337492  0.581949 -0.250896 -1.052460
984  2002-09-11 -0.135920 -0.729366  0.490835  2.100792
985  2002-09-12 -0.479860 -1.948473  0.797584  1.090202
986  2002-09-13  1.068711 -0.816289  0.640787  0.109885
987  2002-09-14  1.882895 -0.470473  0.103435  0.363104
988  2002-09-15  0.884148  1.483945  0.365455  1.125860
989  2002-09-16  0.436952  0.088953  0.034132  1.096189
990  2002-09-17  0.179752 -0.054337  0.656041 -0.666047
991  2002-09-18 -0.809657 -0.236813  0.918700 -1.483040
992  2002-09-19 -0.147502  2.670028 -0.348953 -1.430068
993  2002-09-20 -1.234009  1.195867 -0.794561  0.839812
994  2002-09-21 -0.514240  1.839508  0.048524  0.186115
995  2002-09-22  1.181363  0.552691  0.675009  0.504880
996  2002-09-23 -0.621775 -0.774334  0.728516 -0.821878
997  2002-09-24  0.278443 -2.139590 -0.378612  2.178327
998  2002-09-25 -0.365387  0.354643 -1.490182  1.068221
999  2002-09-26  1.076761 -0.843432 -1.279882  1.556597

[1000 rows x 5 columns]