In [1]:
import pandas as pd
df = pd.DataFrame( {"林大明":[65,92,78,83,70], "陳聰明":[90,72,76,93,56], \
    "黃美麗":[81,85,91,89,77], "熊小娟":[79,53,47,94,80] } )
print(df)

   林大明  陳聰明  黃美麗  熊小娟
0   65   90   81   79
1   92   72   85   53
2   78   76   91   47
3   83   93   89   94
4   70   56   77   80

In [4]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
A = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
B = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=B,  index=A)
print(df)

     國文  數學  英文  自然  社會
林大明  65  92  78  83  70
陳聰明  90  72  76  93  56
黃美麗  81  85  91  89  77
熊小娟  79  53  47  94  80

In [6]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
Indexs = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
Columns = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=Columns,  index=Indexs)
indexs[0] = "林晶輝"
df.index = indexs
columns[3] = "理化"
df.columns = columns
print(df)

     國文  數學  英文  理化  社會
林晶輝  65  92  78  83  70
陳聰明  90  72  76  93  56
黃美麗  81  85  91  89  77
熊小娟  79  53  47  94  80

In [7]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
indexs = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
columns = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns,  index=indexs)
print('df["自然"] ->')
print(df["自然"])
print()
print('df[["國文", "數學", "自然"] ->')
print(df[["國文", "數學", "自然"]])
print()
print('df[df.數學>=80] ->')
print(df[df.數學 >= 80])

df["自然"] ->
林大明    83
陳聰明    93
黃美麗    89
熊小娟    94
Name: 自然, dtype: int64

df[["國文", "數學", "自然"] ->
     國文  數學  自然
林大明  65  92  83
陳聰明  90  72  93
黃美麗  81  85  89
熊小娟  79  53  94

df[df.數學>=80] ->
     國文  數學  英文  自然  社會
林大明  65  92  78  83  70
黃美麗  81  85  91  89  77

In [8]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
indexs = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
columns = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns,  index=indexs)
print("df.values：")
print(df.values)
print("陳聰明的成績(df.values[1])：")
print(df.values[1])
print("陳聰明的英文成績(df.values[1][2])：")
print(df.values[1][2])

df.values：
[[65 92 78 83 70]
 [90 72 76 93 56]
 [81 85 91 89 77]
 [79 53 47 94 80]]
陳聰明的成績(df.values[1])：
[90 72 76 93 56]
陳聰明的英文成績(df.values[1][2])：
76

In [9]:
type(df.values)

numpy.ndarray

In [10]:
df.values[1,2]

76

In [11]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
indexs = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
columns = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns,  index=indexs)
print('df.loc["陳聰明", :] ->')
print(df.loc["陳聰明", :])
#print(df.loc["陳聰明"])
print()
print('df.loc["陳聰明"]["數學"] ->')
print(df.loc["陳聰明"]["數學"])
print()
print('df.loc[("陳聰明", "熊小娟") ->')
print(df.loc[("陳聰明", "熊小娟"), :])
print()
print('df.loc[:, "數學"] ->')
print(df.loc[:, "數學"])
print()
print('df.loc[("陳聰明", "熊小娟"), ("數學", "自然")] ->')
print(df.loc[("陳聰明", "熊小娟"), ("數學", "自然")])
print()
print('df.loc["陳聰明":"熊小娟", "數學":"社會"] ->')
print(df.loc["陳聰明":"熊小娟", "數學":"社會"])
print()
print('df.loc[:黃美麗, "數學":"社會"] ->')
print(df.loc[:"黃美麗", "數學":"社會"])
print()
print('df.loc["陳聰明":, "數學":"社會"] ->')
print(df.loc["陳聰明":, "數學":"社會"])

df.loc["陳聰明", :] ->
國文    90
數學    72
英文    76
自然    93
社會    56
Name: 陳聰明, dtype: int64

df.loc["陳聰明"]["數學"] ->
72

df.loc[("陳聰明", "熊小娟") ->
     國文  數學  英文  自然  社會
陳聰明  90  72  76  93  56
熊小娟  79  53  47  94  80

df.loc[:, "數學"] ->
林大明    92
陳聰明    72
黃美麗    85
熊小娟    53
Name: 數學, dtype: int64

df.loc[("陳聰明", "熊小娟"), ("數學", "自然")] ->
     數學  自然
陳聰明  72  93
熊小娟  53  94

df.loc["陳聰明":"熊小娟", "數學":"社會"] ->
     數學  英文  自然  社會
陳聰明  72  76  93  56
黃美麗  85  91  89  77
熊小娟  53  47  94  80

df.loc[:黃美麗, "數學":"社會"] ->
     數學  英文  自然  社會
林大明  92  78  83  70
陳聰明  72  76  93  56
黃美麗  85  91  89  77

df.loc["陳聰明":, "數學":"社會"] ->
     數學  英文  自然  社會
陳聰明  72  76  93  56
黃美麗  85  91  89  77
熊小娟  53  47  94  80

In [12]:
df.loc["陳聰明","數學"]

72

In [14]:
df.loc[["陳聰明", "熊小娟"],:]

     國文  數學  英文  自然  社會
陳聰明  90  72  76  93  56
熊小娟  79  53  47  94  80

In [15]:
df.loc[["陳聰明", "熊小娟"], ["數學", "自然"]]

     數學  自然
陳聰明  72  93
熊小娟  53  94

In [16]:
import pandas as pd
datas = [[65,92,78,83,70], [90,72,76,93,56], [81,85,91,89,77], [79,53,47,94,80]]
indexs = ["林大明", "陳聰明", "黃美麗", "熊小娟"]
columns = ["國文", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns,  index=indexs)
print('df.iloc[1, :] ->')
print(df.iloc[1, :])
print()
print('df.iloc[1][1] ->')
print(df.iloc[1][1])

df.iloc[1, :] ->
國文    90
數學    72
英文    76
自然    93
社會    56
Name: 陳聰明, dtype: int64

df.iloc[1][1] ->
72

In [18]:
df.iloc[0:2,1]

林大明    92
陳聰明    72
Name: 數學, dtype: int64